# Copyright (C) 2023 Advanced Micro Devices, Inc
#
# SPDX-License-Identifier: MIT

#[aie_graph]
#graph=simpleGraph
[connectivity]
#nk=simpleGraph:1
nk=pl_mm2s:1:pl_mm2s_1
nk=pl_s2mm:1:pl_s2mm_1
# Input Query Streams
stream_connect=pl_mm2s_1.out_query_0:ai_engine_0.StreamIn0_0
stream_connect=pl_mm2s_1.out_query_1:ai_engine_0.StreamIn0_1
stream_connect=pl_mm2s_1.out_query_2:ai_engine_0.StreamIn0_2
stream_connect=pl_mm2s_1.out_query_3:ai_engine_0.StreamIn0_3
stream_connect=pl_mm2s_1.out_query_4:ai_engine_0.StreamIn0_4
stream_connect=pl_mm2s_1.out_query_5:ai_engine_0.StreamIn0_5
stream_connect=pl_mm2s_1.out_query_6:ai_engine_0.StreamIn0_6
stream_connect=pl_mm2s_1.out_query_7:ai_engine_0.StreamIn0_7
stream_connect=pl_mm2s_1.out_query_8:ai_engine_0.StreamIn0_8
stream_connect=pl_mm2s_1.out_query_9:ai_engine_0.StreamIn0_9
stream_connect=pl_mm2s_1.out_query_10:ai_engine_0.StreamIn0_10
stream_connect=pl_mm2s_1.out_query_11:ai_engine_0.StreamIn0_11
stream_connect=pl_mm2s_1.out_query_12:ai_engine_0.StreamIn0_12
stream_connect=pl_mm2s_1.out_query_13:ai_engine_0.StreamIn0_13
stream_connect=pl_mm2s_1.out_query_14:ai_engine_0.StreamIn0_14
stream_connect=pl_mm2s_1.out_query_15:ai_engine_0.StreamIn0_15
stream_connect=pl_mm2s_1.out_query_16:ai_engine_0.StreamIn0_16
stream_connect=pl_mm2s_1.out_query_17:ai_engine_0.StreamIn0_17
stream_connect=pl_mm2s_1.out_query_18:ai_engine_0.StreamIn0_18
stream_connect=pl_mm2s_1.out_query_19:ai_engine_0.StreamIn0_19
stream_connect=pl_mm2s_1.out_query_20:ai_engine_0.StreamIn0_20
stream_connect=pl_mm2s_1.out_query_21:ai_engine_0.StreamIn0_21
stream_connect=pl_mm2s_1.out_query_22:ai_engine_0.StreamIn0_22
stream_connect=pl_mm2s_1.out_query_23:ai_engine_0.StreamIn0_23
stream_connect=pl_mm2s_1.out_query_24:ai_engine_0.StreamIn0_24
stream_connect=pl_mm2s_1.out_query_25:ai_engine_0.StreamIn0_25
stream_connect=pl_mm2s_1.out_query_26:ai_engine_0.StreamIn0_26
stream_connect=pl_mm2s_1.out_query_27:ai_engine_0.StreamIn0_27
stream_connect=pl_mm2s_1.out_query_28:ai_engine_0.StreamIn0_28
stream_connect=pl_mm2s_1.out_query_29:ai_engine_0.StreamIn0_29
stream_connect=pl_mm2s_1.out_query_30:ai_engine_0.StreamIn0_30
stream_connect=pl_mm2s_1.out_query_31:ai_engine_0.StreamIn0_31
stream_connect=pl_mm2s_1.out_query_32:ai_engine_0.StreamIn0_32
stream_connect=pl_mm2s_1.out_query_33:ai_engine_0.StreamIn0_33
stream_connect=pl_mm2s_1.out_query_34:ai_engine_0.StreamIn0_34
stream_connect=pl_mm2s_1.out_query_35:ai_engine_0.StreamIn0_35
stream_connect=pl_mm2s_1.out_query_36:ai_engine_0.StreamIn0_36
stream_connect=pl_mm2s_1.out_query_37:ai_engine_0.StreamIn0_37
stream_connect=pl_mm2s_1.out_query_38:ai_engine_0.StreamIn0_38

# Input Reference Streams
stream_connect=pl_mm2s_1.out_ref_0:ai_engine_0.StreamIn1_0
stream_connect=pl_mm2s_1.out_ref_1:ai_engine_0.StreamIn1_1
stream_connect=pl_mm2s_1.out_ref_2:ai_engine_0.StreamIn1_2
stream_connect=pl_mm2s_1.out_ref_3:ai_engine_0.StreamIn1_3
stream_connect=pl_mm2s_1.out_ref_4:ai_engine_0.StreamIn1_4
stream_connect=pl_mm2s_1.out_ref_5:ai_engine_0.StreamIn1_5
stream_connect=pl_mm2s_1.out_ref_6:ai_engine_0.StreamIn1_6
stream_connect=pl_mm2s_1.out_ref_7:ai_engine_0.StreamIn1_7
stream_connect=pl_mm2s_1.out_ref_8:ai_engine_0.StreamIn1_8
stream_connect=pl_mm2s_1.out_ref_9:ai_engine_0.StreamIn1_9
stream_connect=pl_mm2s_1.out_ref_10:ai_engine_0.StreamIn1_10
stream_connect=pl_mm2s_1.out_ref_11:ai_engine_0.StreamIn1_11
stream_connect=pl_mm2s_1.out_ref_12:ai_engine_0.StreamIn1_12
stream_connect=pl_mm2s_1.out_ref_13:ai_engine_0.StreamIn1_13
stream_connect=pl_mm2s_1.out_ref_14:ai_engine_0.StreamIn1_14
stream_connect=pl_mm2s_1.out_ref_15:ai_engine_0.StreamIn1_15
stream_connect=pl_mm2s_1.out_ref_16:ai_engine_0.StreamIn1_16
stream_connect=pl_mm2s_1.out_ref_17:ai_engine_0.StreamIn1_17
stream_connect=pl_mm2s_1.out_ref_18:ai_engine_0.StreamIn1_18
stream_connect=pl_mm2s_1.out_ref_19:ai_engine_0.StreamIn1_19
stream_connect=pl_mm2s_1.out_ref_20:ai_engine_0.StreamIn1_20
stream_connect=pl_mm2s_1.out_ref_21:ai_engine_0.StreamIn1_21
stream_connect=pl_mm2s_1.out_ref_22:ai_engine_0.StreamIn1_22
stream_connect=pl_mm2s_1.out_ref_23:ai_engine_0.StreamIn1_23
stream_connect=pl_mm2s_1.out_ref_24:ai_engine_0.StreamIn1_24
stream_connect=pl_mm2s_1.out_ref_25:ai_engine_0.StreamIn1_25
stream_connect=pl_mm2s_1.out_ref_26:ai_engine_0.StreamIn1_26
stream_connect=pl_mm2s_1.out_ref_27:ai_engine_0.StreamIn1_27
stream_connect=pl_mm2s_1.out_ref_28:ai_engine_0.StreamIn1_28
stream_connect=pl_mm2s_1.out_ref_29:ai_engine_0.StreamIn1_29
stream_connect=pl_mm2s_1.out_ref_30:ai_engine_0.StreamIn1_30
stream_connect=pl_mm2s_1.out_ref_31:ai_engine_0.StreamIn1_31
stream_connect=pl_mm2s_1.out_ref_32:ai_engine_0.StreamIn1_32
stream_connect=pl_mm2s_1.out_ref_33:ai_engine_0.StreamIn1_33
stream_connect=pl_mm2s_1.out_ref_34:ai_engine_0.StreamIn1_34
stream_connect=pl_mm2s_1.out_ref_35:ai_engine_0.StreamIn1_35
stream_connect=pl_mm2s_1.out_ref_36:ai_engine_0.StreamIn1_36
stream_connect=pl_mm2s_1.out_ref_37:ai_engine_0.StreamIn1_37
stream_connect=pl_mm2s_1.out_ref_38:ai_engine_0.StreamIn1_38


# Output Streams
stream_connect=ai_engine_0.StreamOut0_0:pl_s2mm_1.in_data_0
stream_connect=ai_engine_0.StreamOut0_1:pl_s2mm_1.in_data_1
stream_connect=ai_engine_0.StreamOut0_2:pl_s2mm_1.in_data_2
stream_connect=ai_engine_0.StreamOut0_3:pl_s2mm_1.in_data_3
stream_connect=ai_engine_0.StreamOut0_4:pl_s2mm_1.in_data_4
stream_connect=ai_engine_0.StreamOut0_5:pl_s2mm_1.in_data_5
stream_connect=ai_engine_0.StreamOut0_6:pl_s2mm_1.in_data_6
stream_connect=ai_engine_0.StreamOut0_7:pl_s2mm_1.in_data_7
stream_connect=ai_engine_0.StreamOut0_8:pl_s2mm_1.in_data_8
stream_connect=ai_engine_0.StreamOut0_9:pl_s2mm_1.in_data_9
stream_connect=ai_engine_0.StreamOut0_10:pl_s2mm_1.in_data_10
stream_connect=ai_engine_0.StreamOut0_11:pl_s2mm_1.in_data_11
stream_connect=ai_engine_0.StreamOut0_12:pl_s2mm_1.in_data_12
stream_connect=ai_engine_0.StreamOut0_13:pl_s2mm_1.in_data_13
stream_connect=ai_engine_0.StreamOut0_14:pl_s2mm_1.in_data_14
stream_connect=ai_engine_0.StreamOut0_15:pl_s2mm_1.in_data_15
stream_connect=ai_engine_0.StreamOut0_16:pl_s2mm_1.in_data_16
stream_connect=ai_engine_0.StreamOut0_17:pl_s2mm_1.in_data_17
stream_connect=ai_engine_0.StreamOut0_18:pl_s2mm_1.in_data_18
stream_connect=ai_engine_0.StreamOut0_19:pl_s2mm_1.in_data_19
stream_connect=ai_engine_0.StreamOut0_20:pl_s2mm_1.in_data_20
stream_connect=ai_engine_0.StreamOut0_21:pl_s2mm_1.in_data_21
stream_connect=ai_engine_0.StreamOut0_22:pl_s2mm_1.in_data_22
stream_connect=ai_engine_0.StreamOut0_23:pl_s2mm_1.in_data_23
stream_connect=ai_engine_0.StreamOut0_24:pl_s2mm_1.in_data_24
stream_connect=ai_engine_0.StreamOut0_25:pl_s2mm_1.in_data_25
stream_connect=ai_engine_0.StreamOut0_26:pl_s2mm_1.in_data_26
stream_connect=ai_engine_0.StreamOut0_27:pl_s2mm_1.in_data_27
stream_connect=ai_engine_0.StreamOut0_28:pl_s2mm_1.in_data_28
stream_connect=ai_engine_0.StreamOut0_29:pl_s2mm_1.in_data_29
stream_connect=ai_engine_0.StreamOut0_30:pl_s2mm_1.in_data_30
stream_connect=ai_engine_0.StreamOut0_31:pl_s2mm_1.in_data_31
stream_connect=ai_engine_0.StreamOut0_32:pl_s2mm_1.in_data_32
stream_connect=ai_engine_0.StreamOut0_33:pl_s2mm_1.in_data_33
stream_connect=ai_engine_0.StreamOut0_34:pl_s2mm_1.in_data_34
stream_connect=ai_engine_0.StreamOut0_35:pl_s2mm_1.in_data_35
stream_connect=ai_engine_0.StreamOut0_36:pl_s2mm_1.in_data_36
stream_connect=ai_engine_0.StreamOut0_37:pl_s2mm_1.in_data_37
stream_connect=ai_engine_0.StreamOut0_38:pl_s2mm_1.in_data_38
